<div id="profile-container">
    {{#each profiles}}
    <div class="profile-card">
        <img src="{{image}}" alt="{{name}}'s profile picture">
        <h2>{{name}}, {{age}}</h2>
        <p>{{bio}}</p>
        <div class="actions">
            <button class="dislike-btn" data-id="{{id}}">Dislike</button>
            <button class="like-btn" data-id="{{id}}">Like</button>
        </div>
    </div>
    {{/each}}
</div>
<nav class="navbar breadcrumb mt-3" aria-label="breadcrumbs is-info">
    <ul>
        <li><button href="#"><a class="is-active" href="/dashboard">Dashboard</a></button></li>
    </ul>
</nav>