
<section>
{{#each pets}}
<div class="card">
    <img src="{{profile_picture}}" alt="{{name}}'s Profile Picture" style="width:100%">
  <p class="title">{{name}}</p>
  <p>Age: {{age}}</p>
    <p>Breed: {{breed}}</p>
    <p>Description: {{description}}</p>
    <p>Location: {{location}}</p>
    <p>Interests: {{interests}}</p>
    <p>Social Media: {{socialMedia}}</p>
    <h2>Gallery</h2>
    <img src="{{picture1}}" alt="Picture 1">
    <img src="{{picture2}}" alt="Picture" >
 {{/each}}
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
  <button>Contact</button>
</div>
</section>
<link rel="stylesheet" href="/css/profile.css">
{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --}}







