<header>
  <h1>{{username}}</h1>
</header>

<section class="profile-header">
  <img src="{{profilePicture}}" alt="{{name}}'s profile picture" class="profile-pic">
    <div class="profile-info">
      <div class="profile-description">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
      </div>
      <div class="profile-pet">
        <div><strong>{{age}}</strong> age</div>
        <div><strong>{{breed}}</strong> followers</div>
        <div><strong>{{location}}</strong> following</div>
      </div>
      <div>
        <ul>
          {{interests}}
        </ul>
      </div>
    </div>
</section>
        
<section class="picture-grid">
  {{#each picture}}
    <div class="picutres">
     <img src="{{this}}" alt="Photo">
    </div>
  {{/each}}
</section>


<script src="./js/profile.js"></script>
