
<section>

<h1 style="text-align:center">{{pet.name}}</h1>

<div class="card">
    <img src="{{pet.profile_picture}}" alt="{{pet.name}}'s Profile Picture" style="width:100%">
  <p class="title">{{pet.name}}</p>
  <p>Age: {{pet.age}}</p>
    <p>Breed: {{pet.breed}}</p>
    <p>Description: {{pet.description}}</p>
    <p>Location: {{pet.location}}</p>
    <p>Interests: {{pet.interests}}</p>
    <p>Social Media: {{pet.socialMedia}}</p>
    <h2>Gallery</h2>
    <img src="{{pet.picture1}}" alt="Picture 1">
    <img src="{{pet.picture2}}" alt="Picture" >

  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
  <button>Contact</button>
</div>
</section>
<link rel="stylesheet" href="/css/profile.css">
{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --}}







