<header>
  <h1>Your Profile</h1>
</header>

<section class="profile-header">
  {{#each pets}}
    <div class="profile-info">
      <img src="{{profilePicture}}" alt="{{name}}'s profile picture" class="profile-pic">
      <div class="profile-description">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <div><strong>Age:</strong> {{age}}</div>
        <div><strong>Breed:</strong> {{breed}}</div>
        <div><strong>Location:</strong> {{location}}</div>
        <div><strong>Interests:</strong> {{interests}}</div>
      </div>
      <div>
        <button class="button is-pulled-right has-text-danger mt-2 mr-5" data-id="{{id}}">DELETE</button>
      </div>
    </div>
  {{/each}}
</section>

<section class="picture-grid">
  {{#each pets}}
    {{#if picture1}}
      <div class="pictures">
        <img src="{{picture1}}" alt="Photo 1">
      </div>
    {{/if}}
    {{#if picture2}}
      <div class="pictures">
        <img src="{{picture2}}" alt="Photo 2">
      </div>
    {{/if}}
  {{/each}}
</section>

<script src="./js/createProfile.js"></script>
